# Auto detect text files and perform LF normalization
* text=auto

# Unreal Engine binary assets
*.uasset -text
*.umap -text

# Audio
*.wav -text
*.mp3 -text
*.ogg -text

# Video
*.mp4 -text

# Images
*.png -text
*.tga -text
*.psd -text
*.jpg -text
*.exr -text

# 3D assets
*.fbx -text
*.obj -text

# Fonts
*.ttf -text
*.otf -text

# Archives
*.zip -text
*.rar -text
